body {margin: 0;}
#wrapper {display: grid; gap: 12px;}
#wrapper > * {padding: 1em; font-size: 1.2em;
            color: royalblue; font-weight: bold; background-color: lightblue;}
header {position: relative; min-width: 80px;}
nav ul { padding-left: 0.5em;}
nav li {display: inline-block; margin-right: 1em; color: #333;}
#menu {z-index: 2;
    position: absolute;
    top: 0; right: 0; padding: 0 1em; height: 64px;
    line-height: 64px; color: #333; cursor: pointer;
    
} 
main div {
    margin: 1em; padding: 1em; height: 67vh; color: #333; 
    font-weight: normal; background-color: yellow;
}
footer { height: 200px;}
nav {z-index: 1; position: absolute;
right: 0;
background-color: aliceblue;
padding-top: 100px;
top : -50px;}

@media (max-width: 768px){
    nav { display: none;}
    #menu:hover + nav {
        display: inherit;
        text-align: right;
    }
    #menu:hover + nav li {
        display: block;
        padding: 0.6em;
    }
}
@media (min-width: 769px){
    #menu {display: none;}
    #wrapper {
        grid-template-columns: 200px 1fr;
    }
    header {grid-column: 1/-1;}
    footer {grid-column: 1/-1;}
}